
#my_class{
    margin: 30px auto;
}
#my_class .card{
    width: auto;
    margin: 30px auto;
    font-family: Microsoft JhengHei;
}
#my_class table{
    table-layout: fixed;
    
    margin: 30px 60px;
    border: 3px black solid;
    padding: 5px;
    background-color: ghostwhite;
    font-family: Microsoft JhengHei;
}
#my_class .table thead tr th .out{
    border-top:60px khaki solid; /*上邊框寬度等於表格第一行行高*/
    width:0px; /*讓容器寬度為0*/
    height:0px; /*讓容器高度為0*/
    border-left:90px lightgreen solid; /*左邊框寬度等於表格第一行第一格寬度*/ 
    position:relative; /*讓裡面的兩個子容器絕對定位*/
    margin: 0px 0px;
 }
#my_class .table p{
    font-style:normal;
    display:block;
    position:absolute;
    top:-60px;
    left:-50px;
    width:55px;
    font-weight: bold;
    font-size: 19px;

}
#my_class .table em{
    font-style:normal;
    display:block;
    position:absolute;
    top:-30px;
    left:-90px;
    width:55x;
    font-weight: bold;
    font-size: 19px;

}
#my_class thead {
    text-align: center;
    vertical-align: middle;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
}

#my_class  tbody{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#my_class tbody th{
    width: 80px;
    vertical-align: middle;
    font-size: 30px;
}
#my_class tbody td{
    vertical-align: middle;
    
}

#my_class tbody td a:link{
    
    text-decoration:none;
    color: rebeccapurple;
}

#my_class tbody td a:hover{
    text-decoration:none;
    color: purple;
}